@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Tiny5&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: #252525; */
    box-sizing: border-box;
    font-family: 'Karantina';
}

html{
    height: max-content;
}

.container {
    max-width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}


ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 350px;
    margin-right: 350px;
}

.navbar a{
    font-size: 30px;
    justify-content: center;
}

.navbar a:hover{
    color: #D21216;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header i {
    font-size: 30px;
    color: rgb(228, 228, 228);
}

header ul {
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin-top: 8px;
}

header ul li a{
    color: white;
    text-decoration: none;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)),
    url(../imagens/login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    background-color: #252525e3;
    border-radius: 1%;
    height: max-content;
    width: max-content;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    width: 80%;
}

.title img {
    width: 15%;
    height: 10%;
}

.title span {
    color: #D21216;
    margin-left: 10px;
    font-size: 150px;
}

.campo-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.campo-1 span {
    font-size: 32px;
    color: rgb(228, 228, 228);
    padding-right: 50%;
    padding-bottom: 10px;
}

.campo-1 input {
    height: 50px;
    width: 450px;
    font-size: 32px;
    padding-left: 10px;
}

.campo-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.campo-2 span {
    font-size: 32px;
    color: rgb(228, 228, 228);
    padding-top: 30px;
    padding-right: 67%;
    padding-bottom: 10px;
}

.campo-2 input {
    height: 50px;
    width: 450px;
    font-size: 32px;
    padding-left: 10px;
}

.campo-3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.campo-3 span {
    font-size: 32px;
    color: rgb(228, 228, 228);
    padding-top: 30px;
    padding-right: 67%;
    padding-bottom: 10px;
}

.campo-3 input {
    height: 50px;
    width: 450px;
    font-size: 32px;
    padding-left: 10px;
}

.campo-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.campo-4 span {
    font-size: 28px;
    color: rgb(228, 228, 228);
}

.campo-4 a {
    padding-left: 10px;
    font-size: 28px;
    color: rgb(228, 228, 228);
}

.campo-4 a:hover {
    color: #D21216;
}

.campo-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 25px;
}

.campo-5 button {
    height: 50px;
    width: 300px;
    font-size: 40px;
    color: #D21216;
    background-color: #0F0F0F;
    cursor: pointer;
}