@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Tiny5&display=swap');

*{
    margin: 0;
    padding: 0;
    /* background-color: #252525; */
    box-sizing: border-box;
    font-family: 'Karantina';
}

html{
    background-color: #252525;
}

.container {
    max-width: 100%;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.5);
}


ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar a{
    font-size: 45px;
    justify-content: center;
}

.titulo{
    padding-top: 50px;
}

.navbar a:hover{
    color: #D21216;
}


.navbar button{
    height: 44px;
    width: 44px;
    border-radius: 100px;
    border: none;
    margin-left: 25px;
}

.navbar button:hover {
    cursor: pointer;
}

.navbar img {
    height: 45px;
    width: 45px;
}

.block {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
    z-index: 1000;
}

.block ul {
    flex-direction: column;
    margin: 5px;
}
.block a {
    font-size: 30px;
}
header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header i {
    font-size: 30px;
    color: rgb(228, 228, 228);
}

header ul {
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin-top: 8px;
}

header ul li a{
    color: white;
    text-decoration: none;
}

.content {
    display: flex;
    height: 600px;
    width: max-content;
    flex-direction: row;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0F0F0F;
    border-radius: 10px;
}

.titulo-principal{
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.titulo-principal h1 {
    margin-left: auto;
    margin-right: auto;

    font-size: 60px;
    color: rgb(228, 228, 228);
}

.titulo-principal span {
    color: #D21216;
}

.arcos {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 60px;
    align-items: center;
}

.personagens {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 25px;
    align-items: center;
}

.titulo {
    margin-bottom: 10px;
}

.titulo h2 {
    font-size: 40px;
    color: rgb(228, 228, 228);
}

.titulo span {
    color: #D21216;
}

img {
    height: 400px;
    width: 350px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

select {
    height: 50px;
    width: 400px;
    border-radius: 5px;
    font-size: 38px;
    cursor: pointer;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 25px;
}

.botao button {
    height: 50px;
    width: 300px;
    font-size: 40px;
    border-radius: 5px;
    color: #D21216;
    background-color: #0F0F0F;
    cursor: pointer;
    border: none;
}